<h1>BASE Shops</h1>
<% if Rails.env.development? || Rails.env.test? %>
	<%= link_to"トップページへ戻る",top_homes_path%>
<% end %>
<br>
<div class="container">
	<%= link_to"ショップ情報をネットから収集する", collect_s3bases_path,data: {"turbolinks" => false} %>
	<br>
	<%= link_to"ショップ一覧へ", submit_s3bases_path,data: {"turbolinks" => false} %>
</div>
