// Place all the styles related to the s3bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
	width: 95%;
	margin: 0 auto;
}

table{
	width: 100%;
	font-size: 11px;
	.tr_submit_status{
		height: 100px;
	}
	.td_sender_info{
		height: 100px;
	}
	.td_sender_info_content{
		font-size: 11px;
		overflow-y: auto;
		height: 100px;
	}
	.th_elapsed_days{
		white-space: nowrap;
	}
	.td_checkbox{
		text-align: center;
	}
	.td_shop_id{
		text-align: center;
	}
	.td_shop_name{
		width: 30%;
	}
	.td_submit_status{
		text-align: center;
	}
	.td_elapsed_days{
		text-align: center;
	}
	.td_about_shop{
		width: 30%;
	}
	.cell-scroll{
		font-size: 11px;
		overflow-y: auto;
	}
}
