<p>スクレイピング  No.1</p>
<h2>こちらは任天堂Switchの値段をネット上から調査して表示するシステムです。</h2>

<h1>【<%= @price.created_at.to_s(:datetime_jp) %>】時点でのSwitchの価格</h1>
<h1>=> 【<%= @price.price %>】円</h1></h1>

<h1><%= link_to"現在のSwitchの最安値を確認", s1_switches_path, method: :post %></h1>

<%= link_to"トップへ戻る",root_path%>
